<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sentisurvey</title>
    <link rel="stylesheet" href="tailwind.css">
  </head>
  <body class="bg-blue-100">
    <div class="max-w-xl rounded-md bg-gray-50 p-3 md:p-5 m-auto mt-12">
      <h1 class="text-xl font-semibold pb-2 underline text-gray-900">Statistiken</h1>
      <table>
        <tr>
          <td>Tweets gesamt</td>
          <td>%%sumTweets%%</td>
        </tr>
        <tr>
          <td>Tweets codiert</td>
          <td>%%codedTweets%%</td>
        </tr>
        <tr>
          <td>Tweets codiert (fertig, 10x)</td>
          <td>%%codedFully%%</td>
        </tr>
      </table>
    </div>
  </body>
</html>